/*@import '../../styles/_vars';
@import '../../styles/_mixins';

.button {
  padding: 8px 15px;
  color: $white;
  background-color: #0a980a;
  border: none;
  font-weight: bold;
  border-radius: $borderRadiusSmall;
  cursor: pointer;
  user-select: none;

  &:hover {
    background-color: #21b821;
  }

  &:active {
    background-color: #39d039;
  }

  &.disabled {
    pointer-events: none;
    background-color: #929292;
    color: #d9d9d9;
  }
}*/
@use "sass:color";
@import "../../styles/_vars";
@import "../../styles/_mixins";

.buttons {
  margin-right: -5px;

  & > * {
    margin-right: 5px;
  }
}
.button {
  padding: 10px 15px;
  color: $white;
  background-color: #00aaff;
  border: none;
  font-weight: bold;
  border-radius: 8px;
  cursor: pointer;
  user-select: none;
  position: relative;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);

  &.color-green {
    background-color: #0a980a;

    &:hover {
      background-color: #21b821;
    }

    &.color-red {
      background-color: $red;

      &:hover {
        background-color: color.scale($red, $lightness: 10%);
      }

      &:active {
        background-color: color.scale($red, $lightness: 30%);
      }
    }
  }

  &:active {
    background-color: #0077cc;
  }

  &.disabled {
    pointer-events: none;
    background-color: #929292;
    color: #d9d9d9;
  }

  // Зеленая кнопка (по умолчанию)
  &.green {
    background-color: #00aaff;
    color: #040d52; // синий шрифт

    &:hover {
      background-color: #3399ff;
    }

    &:active {
      background-color: #0077cc;
    }
  }
  // Голубая кнопка с синим шрифтом
  &.blue {
    background-color: #00aaff;
    color: #040d52; // синий шрифт

    &:hover {
      background-color: #3399ff;
    }

    &:active {
      background-color: #0077cc;
    }
  }

  // Белая кнопка с синим краем
  &.white-with-blue-border {
    padding: 8px 15px;
    background-color: $white;
    color: #0055aa; // синий шрифт
    border: 2px solid #0055aa;
    padding: 8 px;

    &:hover {
      background-color: #f0f0f0;
    }
    &.loading {
      @include loader($borderWidth: 3px, $size: 20px, $color: $white);

      .text {
        opacity: 0;
      }
    }

    &:active {
      background-color: #e0e0e0;
    }
  }
  .editButton {
    margin-top: 20px;
  }
}
