
PORT=3000
DATABASE_URL=postgresql://forum_project:forum_project@localhost:5432/forum_project?schema=public
JWT_SECRET=local-jwt-secret
PASSWORD_SALT=local-password-salt
INITIAL_ADMIN_PASSWORD=1234

