/*.container {
  display: flex;
  height: 100vh;
  background: #f9f9f9;
}

.leftPanel {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #fff;
  padding: 2rem;
  box-shadow: 2px 0 10px rgba(0, 0, 0, 0.1);
}

.title {
  font-size: 2rem;
  color: #333;
  margin-bottom: 1rem;
}

.subtitle {
  font-size: 1.2rem;
  color: #666;
  text-align: center;
  max-width: 80%;
  margin-bottom: 2rem;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  max-width: 320px;
}

.inputGroup {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

label {
  font-weight: bold;
  color: #444;
}

input {
  padding: 0.8rem;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 1rem;
}

.button {
  padding: 0.8rem;
  background: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background 0.3s;
}

.button:disabled {
  background: #ccc;
}

.alert {
  padding: 0.8rem;
  border-radius: 5px;
  color: #fff;
  background: #dc3545;
  text-align: center;
  font-size: 0.9rem;
}

.rightPanel {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #007bff, #0056b3);
}

.promoImage {
  max-width: 80%;
  height: auto;
}
*/
.sign-in-page {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 450px; /* Устанавливаем максимальную ширину для формы */
  margin-right: 200px; /* Добавляем отступ справа для разделения */
}

.image-container {
  width: 200px;
  height: auto;
  background-color: aqua;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}

.image-container img {
  height: auto;
  max-width: 85%;
  border-radius: 12px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.12);
  opacity: 0.9;
}
.text {
  margin-bottom: 15px;
}
