@import "../../../styles/_vars";
@import "../../../styles/_mixins";
.likeIcon {
  cursor: pointer;
}

.likeIconFilled {
  color: #e0245e; // Цвет для закрашенной иконки
}
.likes {
  display: flex;
  align-items: center; // Центрируем элементы по вертикали
}
.transition-transform {
  transition: transform 0.2s ease-in-out;
}

.active\:scale-90:active {
  transform: scale(0.9);
}
.author {
  display: flex;
  align-items: center;
  margin-bottom: 10px;

  .authorLink {
    color: var(--primary-color);
    text-decoration: underline;
    &:hover {
      text-decoration: none;
    }
  }
  

  .avatar {
    width: 30px; /* уменьшил размер аватарки */
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
  }

  .name {
    font-weight: bold;
    font-size: 16px; /* увеличил шрифт имени автора */
    color: black;

    span {
      color: black;
      font-weight: normal;
    }
  }
}

.filter {
  margin-bottom: 20px;
}

.ideas {
  .idea {
    padding: 20px;
    
    border-radius: 10px;
    & + .idea {
      margin-top: 20px;
    }


      .ideaLink {
        @include link;
      }
      .more {
        margin-top: 15px;
      }

 
  }
}