@import '../../styles/_vars';
@import '../../styles/_mixins';

.inputWrapper {
    position: relative;
    width: 100%;
  }
  
  .label {
    position: absolute;
    top: 8px;
    left: 12px;
    font-size: 12px;
    color: rgb(42, 3, 3);
    pointer-events: none;
  }
  
  .input {
    width: 100%;
    padding-top: 20px;
    padding-bottom: 8px;
    padding-left: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
  }
  
  .invalid {
    border-color: red;
  }
  
  .error {
    color: red;
    font-size: 12px;
    margin-top: 4px;
  }
  
