@import '../Input/index.module';
/*
.field {
  .input {
    min-height: 150px;
    width: 100%;
    max-width: none;
    resize: vertical;
  }
}*/


.field {
  position: relative; /* Для корректного позиционирования метки внутри поля */

  .input {
    min-height: 150px;
    width: 100%;
    max-width: none;
    resize: vertical;
    padding-top: 25px; /* Отступ сверху для метки */
    box-sizing: border-box; /* Чтобы padding не выходил за пределы */
    border: 1px solid #ccc;
  }

  .label {
    position: absolute;
    top: 10px; /* Верхний отступ, чтобы метка была внутри */
    left: 10px;
    font-size: 14px;
    color: #aaa;
    pointer-events: none; /* Метка не мешает пользователю работать с textarea */
    transition: all 0.2s ease;
  }

  .labelActive {
    font-size: 12px; /* Уменьшаем размер шрифта */
    top: 5px; /* Поднимаем метку вверх, чтобы она не мешала вводу */
    color: #333; /* Цвет активной метки */
  }

  .invalid {
    border-color: red; /* Подсветка ошибок */
  }

  .error {
    color: red;
    font-size: 12px;
  }
}
