@import "../../styles/_vars.scss";
@import "../../styles/_mixins.scss";

.layout {
  display: flex;
  flex-direction: column;
  height: 100vh;

  .navigation {
    position: fixed; /* Фиксируем верхнюю навигацию */
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    color: #333;
    padding: 15px 20px;
    border-bottom: 1px solid #ccc;
    z-index: 1001; /* Высокий z-index, чтобы навигация была поверх всего */
    height: 56px; /* Установите фиксированную высоту для навигации */
    box-sizing: border-box;
  }

  .logo {
    font-size: 20px;
    color: #316fad;
    padding-top: 2px;
    width: 100%;
    max-width: 330px;
    height: auto;
    font-weight: bold;
  }

  .menu {
    list-style: none;
    display: flex;
    gap: 10px;

    .item {
      .link {
        text-decoration: none;
        font-size: 18px;
        color: #007bff;
        transition: color 0.3s ease;

        &:hover {
          color: #0056b3;
        }
      }
    }
  }

  .mainContent {
    display: flex;
    flex: 1;
    margin-top: 56px; /* Добавляем отступ сверху равный высоте навигации */
  }

  /* Стили для LeftMenu компонента в файле соответствующего компонента */

  .content {
    flex: 1;
    padding: 15px;
    margin-left: 250px; /* Отступ слева равный ширине меню */
    width: calc(100% - 250px);
    box-sizing: border-box;
  }

  .fullWidthContent {
    flex: 1;
    padding: 15px;
    width: 100%;
    box-sizing: border-box;
  }
}
