/*@import '../../styles/_vars.scss';
@import '../../styles/_mixins.scss';

.segment {
  h1.title {
    @include h1;
  }

  h2.title {
    @include h2;
  }

  .description {
    font-size: 18px;
    margin-top: 5px;
  }

  .content {
    margin-top: 12px;
  }
}*/
@import "../../styles/_vars.scss";
@import "../../styles/_mixins.scss";

.segment {
  background-color: #ffffff;
  padding: 10px;
  border-radius: 2px;
  border: 1px solid #d1d5db;
  border-top: none;

  h1.title {
    @include h1;
    margin-bottom: 20px;
  }

  h2.title {
    @include h2;
    margin-bottom: 20px;
  }

  .description {
    font-size: 18px;
    color: #4a4a4a;
    margin-bottom: 12px;
  }

  .content {
    margin-bottom: 1px;
    padding-left: 30px;
    padding-right: 30px;
  }

  & + .segment {
    border-top: none;
    margin-top: 0; // если надо
  }
  .footer {
    display: flex;
    align-items: center;
    color: #6b7280;

    i {
      margin-right: 2px;
    }
  }
}
