/*@import '../../styles/_vars.scss';
@import '../../styles/_mixins.scss';

.segment {
  h1.title {
    @include h1;
  }

  h2.title {
    @include h2;
  }

  .description {
    font-size: 18px;
    margin-top: 5px;
  }

  .content {
    margin-top: 12px;
  }
}*/
@import "../../styles/_vars.scss";
@import "../../styles/_mixins.scss";

.segment {
  background-color: #ffffff;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 1px 1px rgba(0, 0, 0, 0.1);

  h1.title {
    @include h1;
    margin-bottom: 20px;
  }

  h2.title {
    @include h2;
    margin-bottom: 20px;
  }

  .description {
    font-size: 18px;
    color: #4a4a4a;
    margin-bottom: 12px;
  }

  .content {
    margin-bottom: 16px;
    padding-left: 20px;
    padding-right: 20px;
  }

  & + .segment {
    margin-top: 40px;
  }
  .footer {
    display: flex;
    align-items: center;
    color: #6b7280;

    i {
      margin-right: 8px;
    }
  }
}
